<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata API</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <script src="https://cdn.tailwindcss.com"></script>
   </head>

   <body class="bg-white border-gray-200 dark:bg-gray-900">
      <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex items-center justify-center mt-5">
          <a href="https://github.com/yousha-shoaib" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img src="./public/images/ys-logo-pa.png" class="h-12" alt="Yousha Shoaib Logo" />
          </a>
        </div>
      </nav>

      <section>
        <h1 class="mb-4 mt-16 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">File Metadata Microservice</h1>
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Upload a file to view it's metadata as a JSON object</p>
        <div class="flex items-center justify-center mt-16">
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <div class="flex items-center justify-center">
              <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                  <div class="flex flex-col items-center justify-center pt-5 pb-6">
                      <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                      </svg>
                      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                  </div>
                  <input id="dropzone-file" type="file" class="hidden" name="upfile" />
              </label>
              <input id="button" type="submit" value="View Metadata"class="h-64 rounded-lg bg-purple-600 mx-2 px-8 py-5 text-center text-sm font-semibold text-white outline-none ring-purple-300 transition duration-100 hover:bg-purple-800 focus-visible:ring active:bg-purple-700 md:text-base">
            </div> 
          </form>
        </div>
      </section>

      <footer class="bg-white rounded-lg shadow m-4 mt-20 dark:bg-gray-900">
        <div class="flex items-center justify-center gap-4 lg:justify-start">
          <span class="text-sm font-semibold uppercase tracking-widest text-gray-400 sm:text-base">Source Code</span>
          <span class="h-px w-12 bg-gray-200"></span>
          <div class="flex gap-4">
            <a href="https://yousha-shoaib.github.io/file-metadata-microservice" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
              <svg class="h-5 w-5" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
              </svg>
            </a>
          </div>
        </div>
      </footer>
   </body>
</html>
